Options -Indexes -MultiViews
LimitRequestBody 1048576
RewriteEngine On

RewriteRule ^(?:\.env(?:\..*)?|\.cfg|\.cms|\.doc|\.git|\.src|\.wrk|app|config|lang|resources|scripts|storage|tmp)(?:/|$) - [R=404,L,NC]
RewriteRule ^(?:README\.md|\.gitignore|\.info)$ - [R=404,L,NC]
RewriteRule \.(?:zip|sha|tar|tgz|gz|7z|rar|exe|msi|appx|msix)$ - [R=404,L,NC]
RewriteCond %{THE_REQUEST} "\s/+public(?:[/?\s]|$)" [NC]
RewriteRule ^public(?:/|$) - [R=404,L]
RewriteRule ^\.well-known/acme-challenge/ - [L]
RewriteRule ^$ public/index.php [L]
RewriteCond %{REQUEST_URI} !^/public/ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/$1 [L]
